img{
    width: 200px;
    border-radius: 20px;
}
.list{
    display: flex;
    gap:10px   
}
.list 
 div{
    text-decoration: underline;
    color: blue;
    
}
.list{
    div:hover{
        color: rgb(18, 125, 78);
    }
}
.btnsearch{
    display: flex;
    
    justify-items: end;
}
/* .table tbody tr td  {
    padding: 10px;
} */

.table thead tr th {
    padding: 5px;
}